<!DOCTYPE html>
<html>
  <head>
    <title>Accueil connexion</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <center><h1>Bienvenue <%= title %> ! </h1>

   
      <h1>Vous etes bien connecter</h1>
      <form method="post" action="/login">
        <p>
          <input type="submit" value="Login" />
        </p>
      </form>
    </center>
  </body>
</html>
