<!DOCTYPE html>
<html>
  <head>
    <title>Accueil</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <center><h1>ACCUEIL</h1>

   
      <h1>Merci de vous connecter pour acceder au contenu :</h1>
      <form method="post" action="/login">
        <p>
          <input type="submit" value="Login" />
        </p>
      </form>

    <h1>Vous etes bien connecter <%=  %> </h1>
    </center>
  </body>
</html>
