<!DOCTYPE html>
<html>
  <head>
    <title>Accueil</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <center>
      <h1>ACCUEIL</h1>

      <% if (loggedIn) { %>
      <h2>Bonjour, <%= email %></h2>
      <a href="/logout"type="button" value="Se connecter" >Se déconnecter</a>
      <% } else { %>
      <h1>Merci de vous connecter pour accéder au contenu :</h1>
      
      
          <a href="/login"type="button" value="Se connecter" >Se connecter</a>
      
      <% } %>

    </center>
  </body>
</html>
