<center><h1>Connexion</h1></center>

<center><form method="post" action="/">
  <p>
    <label for="email">mail:</label>
    <input type="text" name="mail" id="email">
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="text" name="password" id="password">
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
</form></center>
<center><%- message %>
Connecte toi <a href="/">restricted</a></center>